@import 'document.styl'


header_bg_color = dark_grey
h1_text_color = light_grey
h1_text_size = 17px
h1_font_weight = 300
role_text_color = couture_gold


@import 'header.styl'


h2_text_size = 27px


@import 'groups.styl'


section
  &:nth-of-type(2n)
    background-color dark_grey

    h2
      color light_grey


body > figure
  background-color #FCFCFC

  img
    width 100vw
    max-width 640px


body > img
  width 100vw
