@import 'document.styl'


header_bg_color = #2C2F33
h1_text_color = #FFFFFF
h1_text_size = 24px
role_text_color = #7289DA


@import 'header.styl'


@import 'groups.styl'


.lead
  border-color #23272A
  color #99AAB5


section
  background-color #2C2F33
  color #FFFFFF


// section
//   &:nth-of-type(2n)
//     background-color dark_grey
//
//     h2
//       color light_grey
//
//
// body > figure
//   background-color #FCFCFC
//   padding 0
//
//   img
//     width 100vw
//     max-width 640px
//
//
// body > img
//   width 100vw
