@import 'document.styl'


header_bg_color = #2C2F33
h1_text_color = #FFFFFF
h1_text_size = 24px
role_text_color = #7289DA


@import 'header.styl'


@import 'groups.styl'


.lead
  border-color #23272A
  color #99AAB5


section
  background-color #2C2F33
  color #FFFFFF


@import 'nav.styl'
