[role='banner']
  if header_bg_color is defined
    background-color header_bg_color

  padding 48px 24px
  text-align center

  img
    margin-bottom 24px

  .role
    color role_text_color
    font-size 13px
    font-weight 300
    line-height 16px
    margin 0


  h1
    if h1_text_color is defined
      color h1_text_color

    font-size h1_text_size
    font-weight h1_font_weight
    line-height 24px
    margin 0 0 24px

    span
      display block
      font-size 15px
      font-weight 100
      opacity .87
      // padding-top 8px
