@import 'document.styl'
@import 'nav.styl'


[role='banner']
  padding 48px
  text-align center


h1
  color #616161
  font-size 28px
  font-weight 100
  line-height 32px
  margin 0

  span
    display block
    font-size 15px
    line-height 16px


footer
  padding 24px
  text-align center


a
  text-decoration none


[href^='https://behance.net/']
  border-radius 2px
  color #9E9E9E
  font-size 13px
  line-height 16px
  padding 8px 24px
  transition .3s all linear

  &:hover
    background-color #FFFFFF
    box-shadow 0 0 4px 4px alpha(dark_grey, .03), 0 2px 4px alpha(dark_grey, .08)
