@import 'document'


// BRANDING
.brand
  display         block
  color           grey_500
  font-size       17px
  font-weight     600
  line-height     24px
  margin          8px 3.2%
  text-decoration none

  .index &
    @media (orientation: landscape)
      position  absolute

  &--role
    display     block
    font-size   15px
    font-weight 400
    line-height 16px
    opacity     .62





// NAVIGATION
[role='navigation']
  display flex

  @media (orientation: landscape)
    .index &
      height  100vh

  @media (orientation: portrait)
    flex-direction  column
    height          calc(100vh - 56px)

  a[href]
    display           flex
    flex              1 1
    flex-direction    column
    justify-content   flex-end
    padding           8px 12px
    text-decoration   none





// HEADINGS
.project
  display         flex
  flex-direction  column
  margin          0

  &--name
    font-size   24px
    font-weight 400
    margin      0

  &--company
    margin  0
    order   -1

  &--role
    font-size 15px
    margin    0

  dd
    margin  0





// CASE STUDY
figure
  margin    48px auto 0
  max-width 1024px

  &.heuristics
    max-width 1000px

  &.portrait
    max-width 768px

    &__small
      max-width 375px


.shadow
  box-shadow  hsla(0%, 0%, 0, 10%) 0 20px 40px


img,
video
  display block
  height  auto
  width   100%


main
  p
    margin    24px auto 0
    max-width 600px

h2
  font-size   24px
  font-weight 400
  line-height 24px
  margin      48px auto 0
  max-width   600px
