@import 'document'


// GLOBAL HEADER
[role='banner']
  background-color  text_bg_color
  box-shadow        small_shadow
  margin-bottom     24px
  padding           8px





// BRANDING
.brand
  color           grey_500
  display         block
  font-size       17px
  font-weight     600
  margin          0
  text-align      center
  text-decoration none

  &--role
    display     block
    font-size   15px
    font-weight 400
    line-height 16px
    opacity     .62





// FOOTER
[role='contentinfo']
  background-color  #CED7E2
  display           flex
  justify-content   center
  font-size         15px
  padding           8px
  position          relative

  a
    color           grey_500
    text-decoration none
    transition      opacity .2s
    opacity         .62
    padding         4px 16px

    &:hover
      opacity 1





// NAVIGATION
[role='navigation']
  display         flex
  justify-content center
  margin          0 auto
  position        relative

  @media (max-width: 821px)
    flex-wrap wrap

  @media (min-width: 821px)
    margin-top  22vh

  a[href]
    display         block
    max-width       411px
    padding         16px 8px
    text-decoration none

  img
    box-shadow  small_shadow





// HEADINGS
.project
  display         flex
  color           grey_500
  flex-direction  column
  font-weight     400
  padding         24px 0 8px
  margin          0

  &--name
    font-size   24px
    font-weight 400

  &--company
    color     #7397BA
    font-size 17px
    order     -1

  &--role
    font-size 15px

  dd
    margin  0

h2
  font-size   24px
  font-weight 400
  line-height 24px
  margin      0 auto 16px
  max-width   600px





// ARTICLE
main
  header
    margin    0 auto
    max-width 1024px

  @media (min-width: 1024px)
    h1
      bottom      16px
      left        24px
      position    fixed
      text-align  left

  .lead
    margin    0 auto
    max-width 600px
    padding   48px 16px

  p
    margin    0 auto
    max-width 632px

  // @media (max-width: 600px)
  //   padding 0 8px





// BLOCKS
.text-block
  background-color  text_bg_color
  padding           24px 0

  @media (max-width: 600px)
    padding 24px 16px

figure
  margin    0 auto
  max-width 1024px

  &.iphone
    max-width 375px
    padding   50.5px 0

  &.ipad
    padding 43.5px 0

  &.heuristics
    max-width 1000px
    padding   49px 0

  &.final
    padding 48px 0

  &.portrait
    max-width 768px


img,
video
  display block
  height  auto
  width   100%


.shadow
  box-shadow  hsla(0,0%,0%,.2) 0 20px 40px

  &__top
    background-color  text_bg_color


.blend
  &--bg
    background-color  #CED7E2

  &__multiply
    mix-blend-mode        multiply
