[role='banner']
  padding 48px 24px
  text-align center

  img
    margin-bottom 24px

  p
    color #7397BA
    font-size 13px
    font-weight 500
    line-height 16px
    margin 0


h1
  font-size 21px
  font-weight 400
  line-height 24px
  margin 0 0 24px

  span
    display block
    font-size 15px
    opacity .87
    padding-top 8px
