@import 'document.styl'
@import 'header.styl'
@import 'groups.styl'


section:first-of-type,
section:nth-child(5)
  background-color zappos_dark_blue
  color light_grey

  & p
    opacity .87


@import 'nav.styl'
