/*------------------------------------*\
    STYLEGUIDE
\*------------------------------------*/
/**
 * Re-define framework variables
 */
$use-blockquotes:true;
$use-code:true;
// $font-enhancement:true;
$use-figure:true;
$use-forms:true;
// $legacy-support:true;
$use-media:true;
$use-pre:true;
$use-rules:true;
  $rules-ornament:true;
$use-tables:true;


/**
 * Import all of the things...
 */
@import "../../../vanilla.scss";


/**
 * Custom page styles
 */
// main,
// [role="banner"],
// [role="contentinfo"]{
//   margin:   0 auto;
//   max-width:40em;
//   padding:  $base-spacing-unit;
// }
