!!! 5
block vars
  include ../../_models/_site
html(lang='en')
  head
    block head
      include ../includes/_head
  body
    block header
      include ../includes/_header
    block content
      main(role='main')
        h1 #{site}
    block aside
    block nav
      include ../includes/_nav
    block footer
      include ../includes/_footer
    - if (typeof(gaid) !== 'undefined')
      include ../includes/_ga.jade