extends layout


append vars
  -
    var project_name = 'Checkout Redesign'
        project_subtitle = 'Zappos Web'
        project_role = 'Lead UX Designer'


append head
  link()


block content
  header(role='banner')
    h1 Checkout Redesign
      span Zappos Web
    p.role Concept & Lead UX Designer
    p.lead As Lead UX Designer for the Zappos Checkout team, I initiated an effort to improve the checkout experience and increase conversion, retention, and new customer acquisition.
