extends layout


append vars
  -
    var project_name = 'Members List'
        project_subtitle = 'Discord OSX & Windows App'
        project_role = 'Concept Designer'


append head
  style
    include:stylus ../css/document.styl
    include:stylus ../css/template.styl


block content
  include project-header
