extends layout


block content
  header(role='banner')
    h1 Will Smith 
      span User Interface Designer

  nav(role='navigation')
    ul
      li: a(href='couture.html') Zappos Couture
      li: a(href='') Checkout
      li: a(href='xoxo.html') Product Exchange
      li: a(href='') Discord

  footer
    a(href='mailto:inriverie@gmail.com') Contact Me
