doctype html
block vars
  include ../models/global-variables


html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='description', content='#{page_description}')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title #{page_title}
      link(rel='stylesheet', href='#{css_path}#{page_css}')


  body
    block content
    block scripts
