/*------------------------------------*\
    TYPEFACE
\*------------------------------------*/
display_family  = georgia
text_family     = verdana





/*------------------------------------*\
    ENHANCE TYPEFACE
    Ligatures, kerning, etc…
    values: 'global', 'headings', null
\*------------------------------------*/
font_enhancement  = null





/*------------------------------------*\
    TYPE SIZING
\*------------------------------------*/
text_size   = 14
leading     = 21





/*------------------------------------*\
    TYPE TEXTURE
\*------------------------------------*/
text_color  = hsl(0, 0%, 27%)





/*------------------------------------*\
    MODULAR SCALE
    http://modularscale.com/
\*------------------------------------*/
scale = perfect_fifth


ms9   = 91
ms8   = 71
ms7   = 61
ms6   = 47
ms5   = 41
ms4   = 32
ms3   = 27
ms2   = 21
ms1   = 18

ms_1  = 12
ms_2  = 9
ms_3  = 8





/*------------------------------------*\
    TEXTURE
\*------------------------------------*/

bg_color    = hsl(0, 0%, 100%)
code_color  = hsl(344, 100%, 37%)
ui_color    = hsl(0, 0%, 81%)

brand_color   = hsl(344, 100%, 37%)
brand_family  = text_family


// Breadcrumbs
breadcrumb_type = normal


// Horizonal rule
rules_border_color  = ui_color
rules_border_style  = solid
rules_border_width  = 1px


// Text color
caption_color   = hsl(0, 0%, 35%)
link_color      = hsl(224, 73%, 50%)
selection_color = hsl(0, 0%, 100%)


// Table stripes
table_stripes   = lighten(ui_color, 15%)





/*------------------------------------*\
    TOGGLES
\*------------------------------------*/

test_mode  = true


use_blockquotes = false
use_code        = false
use_edits       = false
use_figure      = false
use_forms       = false
use_media       = false
use_pre         = false
use_rules       = false
use_tables      = false


legacy_support  = false


massive_headings  = false


print_serif       = false


// Decorative horizontal rules
rules_ornament        = false
rules_ornament_border = false


selection_highlight = false


// Form extensions
input_captions  = false
spoken_word     = false
