/*------------------------------------*\
    IMPORT STATIC VARIABLES
\*------------------------------------*/
@import 'vars'





/*------------------------------------*\
    BRANDING
\*------------------------------------*/
brand_typeface  = georgia
brand_color     = hsl(224, 73%, 50%)





/*------------------------------------*\
    TYPE TREATMENT

    1. Ligatures, kerning, etc…
      values: 'global', 'headings', null
\*------------------------------------*/
display_family  = brand_typeface
text_family     = verdana


text_size   = 14
leading     = 21


font_enhancement  = null // [1]


massive_headings= false
print_serif     = false





/*------------------------------------*\
    TYPE TEXTURE
\*------------------------------------*/
text_color      = hsl(0, 0%, 27%)


caption_color   = hsl(0, 0%, 35%)
code_color      = hsl(344, 100%, 37%)


link_color      = brand_color


selection_color     = hsl(0, 0%, 100%)
selection_highlight = false





/*------------------------------------*\
    MODULAR SCALE
    http://modularscale.com/
\*------------------------------------*/
scale = perfect_fifth


ms9   = 91
ms8   = 71
ms7   = 61
ms6   = 47
ms5   = 41
ms4   = 32
ms3   = 27
ms2   = 21
ms1   = 18

ms_1  = 12
ms_2  = 9
ms_3  = 8





/*------------------------------------*\
    UI TEXTURE
\*------------------------------------*/
bg_color    = hsl(0, 0%, 97%)





/*------------------------------------*\
    BORDERS
\*------------------------------------*/
border_color= hsl(0, 0%, 81%)


rules_ornament        = false
rules_ornament_border = false





/*------------------------------------*\
    FORMS
\*------------------------------------*/
input_captions  = false
spoken_word     = false





/*------------------------------------*\
    TOGGLE ELEMENTS
\*------------------------------------*/
legacy_support  = false


use_blockquotes = false
use_code        = false
use_edits       = false
use_figure      = false
use_forms       = false
use_media       = false
use_pre         = false
use_rules       = false
use_tables      = false





/*------------------------------------*\
    IMPORT DYNAMIC VARIABLES
\*------------------------------------*/
@import 'vars2'
