@import 'typography'


/*------------------------------------*\
  TYPOGRAPHY
  1. Ligatures, kerning, etc…
    values: 'global', 'headings', null
\*------------------------------------*/
display_typeface  = georgia
text_typeface     = verdana

text_size   = 16px
leading     = 24px
line_height = remove-unit(leading / text_size)

font_enhancement  = null // [1]

massive_headings  = false
print_serif       = false





/*------------------------------------*\
  COLOR
\*------------------------------------*/
brand_color = hsl(224, 73%, 50%)
text_color  = hsl(0, 0%, 27%)

caption_color = lighten(text_color, 12%)
code_color    = hsl(344, 100%, 37%)
link_color    = brand_color

selection_color     = hsl(0, 0%, 100%)
selection_highlight = true





/*------------------------------------*\
  MODULAR SCALE
  http://modularscale.com/
\*------------------------------------*/
ratio             = perfect_fifth
important_number  = undefined





/*------------------------------------*\
  UI TEXTURE
\*------------------------------------*/
bg_color    = hsl(0, 0%, 96%)
border_color= hsl(0, 0%, 84%)





/*------------------------------------*\
  ELEMENT SUPPORT
\*------------------------------------*/
legacy_support  = false


use_blockquotes = false
use_code        = false
use_edits       = false
use_figure      = false
use_forms       = false
use_media       = false
use_pre         = false
use_rules       = false
use_tables      = false
