[role='navigation']
  background-color hsl(0,0%,95%)
  border 1px solid soft_grey
  margin 6.4vw 0

  ul
    display flex
    flex-wrap wrap
    list-style none
    margin 0 3.2vw
    max-width 1280px
    padding 0

    @media screen and (min-width:768px)
      margin 0 12.8vw

    @media screen and (min-width:960px)
      margin 0 auto

  li
    flex 1 1 240px
    padding 8px

  img
    border 1px solid alpha(dark_grey, .13);
    display block
    height auto
    width 100%
