/*------------------------------------*\
    FORM VALIDITY
\*------------------------------------*/
if use_forms

  :valid
    // foo bar
  :invalid
    // foo bar


  // Error styles starting from `.form-field`
  .invalid
    // color hsl(0, 50%, 50%)