/*------------------------------------*\
    HEADINGS
\*------------------------------------*/

// Clear margins
.hN
  margin  0


if massive_headings
  .giga
    fs(giga_size)
  .mega
    fs(mega_size)
  .kilo
    fs(kilo_size)


.alpha
  fs(h1_size)
.beta
  fs(h2_size)
.gamma
  fs(h3_size)
.delta
  fs(h4_size)
.epsilon
  fs(h5_size)
.zeta
  fs(h6_size)


h1
  @extends .alpha
  @extends .hN
h2
  @extends .beta
  @extends .hN
h3
  @extends .gamma
  @extends .hN
h4
  @extends .delta
  @extends .hN
h5
  @extends .epsilon
  @extends .hN
h6
  @extends .zeta
  @extends .hN





/*------------------------------------*\
    STRUCTURE ELEMENTS
\*------------------------------------*/
// [role="banner"]


// [role="main"]


// .site-nav


// [role="contentinfo"]