/*------------------------------------*\
    HEADINGS
\*------------------------------------*/
$hN
  unless display_family == text_family
    font-family display_family
  margin  0


h1,.alpha
  font-size(ms6)
  @extends $hN

h2,.beta
  font-size(ms5)
  @extends $hN

h3,.gamma
  font-size(ms4)
  @extends $hN

h4,.delta
  font-size(ms3)
  @extends $hN

h5,.epsilon
  font-size(ms2)
  @extends $hN

h6,.zeta
  font-size(ms1)
  @extends $hN


if massive_headings
  .giga
    font-size(ms9)
    @extends $hN

  .mega
    font-size(ms8)
    @extends $hN

  .kilo
    font-size(ms7)
    @extends $hN





/*------------------------------------*\
    STRUCTURE ELEMENTS
\*------------------------------------*/
// [role="banner"]


// [role="main"]


// .site-nav


// [role="contentinfo"]