/*------------------------------------*\
    HEADINGS
\*------------------------------------*/
$hN
  unless display_family == text_family
    font-family display_family
  margin  0


h1,.alpha
  font-size(h1_size)
  @extends $hN

h2,.beta
  font-size(h2_size)
  @extends $hN

h3,.gamma
  font-size(h3_size)
  @extends $hN

h4,.delta
  font-size(h4_size)
  @extends $hN

h5,.epsilon
  font-size(h5_size)
  @extends $hN

h6,.zeta
  font-size(h6_size)
  @extends $hN


if massive_headings
  .giga
    font-size(giga_size)
    @extends $hN

  .mega
    font-size(mega_size)
    @extends $hN

  .kilo
    font-size(kilo_size)
    @extends $hN





/*------------------------------------*\
    STRUCTURE ELEMENTS
\*------------------------------------*/
// [role="banner"]


// [role="main"]


// .site-nav


// [role="contentinfo"]