/*------------------------------------*\
  TYPOGRAPHY
\*------------------------------------*/
display_typeface= sans-serif
text_typeface   = sans-serif


scale           = 1.618
important_number= undefined

text_size   = 16px
leading     = 19px
line_height = remove-unit(leading / text_size)


print_type  = 'sans'





/*------------------------------------*\
  COLOR
\*------------------------------------*/
primary_color = hsl(224, 73%, 50%)
text_color    = hsl(0, 0%, 27%)


background_color= hsl(0, 0%, 96%)
border_color    = hsl(0, 0%, 84%)





/*------------------------------------*\
  IMPORTS
\*------------------------------------*/
@import 'assets/css/mixins'
@import 'assets/css/document'
