/*------------------------------------*\
  TYPOGRAPHY
\*------------------------------------*/
@import 'assets/css/typography'


display_typeface= georgia
text_typeface   = verdana


modular_scale_ratio = golden_section
important_number    = undefined

text_size   = 16px
leading     = round(text_size * modular_scale_ratio)
line_height = remove-unit(leading / text_size)


print_type  = 'sans'





/*------------------------------------*\
  COLOR
\*------------------------------------*/
primary_color = hsl(224, 73%, 50%)
text_color    = hsl(0, 0%, 27%)


background_color= hsl(0, 0%, 96%)
border_color    = hsl(0, 0%, 84%)





/*------------------------------------*\
  IMPORTS
\*------------------------------------*/
@import 'assets/css/mixins'
@import 'assets/css/document'
