/*------------------------------------*\
  CONFIG
\*------------------------------------*/
text_size = 17
scale     = 1.618
scale_aug = 60


@import 'mixins'





/*------------------------------------*\
  DOCUMENT
\*------------------------------------*/
*
  box-sizing border-box


html
  background-color  white
  color             hsl(0, 0%, 27%)
  font              unit(text_size / 16 * 100, '%') / scale 'Avenir Next', sans-serif

  -webkit-overflow-scrolling  touch // [1] Provides native iOS scrolling to scrollable containers.
  -webkit-tap-highlight-color transparent

  -webkit-text-size-adjust 100% // [2] Prevents text resizing after orientation change.
  -ms-text-size-adjust     100% // [2]


body
  margin  0


main
  display block // [1] IE


b,
strong
  font-weight 700 // [2] Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.


:lang(en) q
  quotes  '\2018' '\2019' '\201C' '\201D'
  &::before
    content  open-quote
  &::after
    content  close-quote
  q::before
    content  open-quote
  q::after
    content  close-quote


img,
video
  height    auto // [1] Fluid media.
  max-width 100% // [1]
