/*------------------------------------*\
  TYPOGRAPHY
\*------------------------------------*/
// @params value: px | rem | em
font-size(value)
  font-size unit((value / text_size), 'rem') if unit(value) is 'px'
// font-size(value)
//   if unit(value) is 'px'
//     font-size unit((value / text_size), 'rem')
//   else if unit(value) is 'rem' or if unit(value) is 'em'
//     font-size value
//   else
//     error('The font-size mixin was not passed a px, rem, or em unit.')


// @params value: <integer>
scaleBy(value)
  op = value >= 0 ? '*' : '/'
  sf = (scale ** value)
  result = text_size <= scale_aug ? operate(op,text_size,sf) : operate(op,scale_aug,sf)
  return unit(round(result), 'px')


/*------------------------------------*\
  FLEX LAYOUT

  Set 'display flex' on container

  flex-flow <flex-direction> <flex-wrap>
    row | row-reverse | column | column-reverse
    nowrap | wrap | wrap-reverse

  justify-content <value>
    flex-start | flex-end | center | space-between | space-around

  align-items <value>
    flex-start | flex-end | center | baseline | stretch

  align-content <value>
    flex-start | flex-end | center | space-between | space-around | stretch

  order <integer>

  flex <flex-grow> <flex-shrink> <flex-basis>
    none | number number length

  align-self
    auto | flex-start | flex-end | center | baseline | stretch

\*------------------------------------*/
