// load other dependencies here
@import 'document'





// page or project specific css
h1
  background-color white
  font-family 'Avenir Next Condensed', 'Avenir Next', sans-serif
  font-size 21px
  font-weight 500
  margin 0
  padding unit(scale, 'rem') 0
  text-align center
  width 100%


h2
  background-color white
  font-size 21px
  font-weight 400
  margin 0
  padding unit(scale, 'rem') unit(scale/2, 'rem') 0
  text-align center


.media-container
  position fixed


article
  position relative


section div
  background-color white


section p
  margin 0 auto
  max-width unit(612px/text_size, 'rem')
  padding unit(scale, 'em')


aside
  background-color zappos_light_grey

figure
  margin 0 auto
  max-width unit(612px/text_size, 'rem')


figcaption
  color zappos_grey
  font-size 14px
  padding unit(scale/2, 'rem') 0
  text-align center


.transparent
  opacity 0
  visibility hidden
