// load other dependencies here
@import 'document'





// page or project specific css
html
  background-color diagram_bg_color
  color diagram_light_grey

.intro
  margin unit(2 * scale, 'rem') auto
  max-width 36rem
  min-width unit(266px/text_size, 'rem')
  padding 0 unit(scale, 'em')

section
  margin 0 auto unit(2 * scale, 'rem')

  @media screen and (min-width: unit(700px/text_size, 'rem'))
    align-items center
    display flex

  & > div,
  & > p
    margin 0 auto
    max-width 36rem
    min-width unit(266px/text_size, 'rem')
    padding 0 unit(scale, 'em')

h1, h2
  color diagram_off_white
  font-size 21px
  font-weight 400
  text-align center

  span
    color diagram_light_blue
    display block
    font-family 'Avenir Next Condensed', 'Avenir Next', 'Avenir', sans-serif
    font-size 14px
    text-transform uppercase


figure, aside
  max-width unit(960px/text_size, 'rem')

figcaption
  color zappos_grey
  font-size 14px
  padding unit(scale/3, 'rem')
  text-align center

aside
  margin unit(2 * scale, 'rem') auto

.last
  margin-top unit(4 * scale, 'rem')
