@import 'document'
// load other dependencies here

// page or project specific css
h1
  font-size 21px
  font-weight 400


h2
  font-size 21px
  font-weight 400


header,
section
  padding 0 unit(scale, 'em')


aside
  background-color hsl(217, 14%, 25%)
  margin 0 unit(scale * -1, 'em')


figure
  margin 0 auto
  max-width unit(612px / text_size, 'rem')
  padding 1em 0


img
  display block
