@import 'assets/css/form-reset'


/*------------------------------------*\
  LABEL
\*------------------------------------*/
label
  cursor      pointer
  display     block
  line-height line_height





/*------------------------------------*\
  INPUTS
\*------------------------------------*/
input[type='text']
  width 100%


input[type="checkbox"],
input[type="radio"]
  margin-right  0.25em





/*------------------------------------*\
  SELECT
  TODO base64 encode dropdown.svg as background-image

  1. Prevents Webkit from locking `font-size`.
\*------------------------------------*/
select
  -webkit-appearance  button // [1]





/*------------------------------------*\
  PLACEHOLDER

  1. Chrome, Safari, Opera
  2. Firefox 19
  3. IE 10
\*------------------------------------*/
::-webkit-input-placeholder
  // [1]
::-moz-placeholder
  // [2]
:-ms-input-placeholder
  // [3]

:focus::-webkit-input-placeholder
  // [1]
:focus::-moz-placeholder
  // [2]
:focus:-ms-input-placeholder
  // [3]
