@mixin links(){
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/**
 * Say no to negative hovers, as per: csswizardry.com/2011/05/on-negative-hovers
 *
 * Sometimes, particularly on larger projects, it is useful to scope link
 * styling only to anchors which have `href` attributes.
 */
a{
    border-bottom:  1px solid fade-out($link-color, 0.7);
    color:          $link-color;
    text-decoration:none;
    @include transition(all .25s);


    &:visited{}


    &:hover{
        border-bottom:fade-in($link-color, 0.5);
        color:        darken($link-color, 15%);
    }


    /*
     * Improve readability when focused and also mouse hovered in all browsers.
     */
    &:active{ outline:0; }


    /**
     * Address `outline` inconsistency between Chrome and other browsers.
     */
    &:focus{
        outline:thin dotted;
    }
}
}
