// Re-define framework and Vanilla variables
use_blockquotes = true
use_code        = true
use_edits       = true
use_figure      = true
use_forms       = true
use_media       = true
use_pre         = true
use_rules       = true
use_tables      = true


// Import all of the things…
@import '../vanilla'


// Custom page styles