-ms-viewport{width:device-width}
-o-viewport{width:device-width}
::selection{background-color:#bd0032;color:#fff;text-shadow:none}
*:not(hr){-moz-box-sizing:border-box;box-sizing:border-box}
html{background-color:#fff;color:#454545;font:.875rem/1.5 Verdana,sans-serif;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
body *{-webkit-transition:all .25s;transition:all .25s}
.rhythm,details,p,dl{margin:0 0 .75rem 0}
.rhythm-bottom{margin-bottom:.75rem}
.landmark{margin-bottom:1.5rem}
.lead{font-size:1.4285714285714286rem;line-height:1.05}
.cf::after{content:'';display:table;clear:both}
main,summary{display:block}
dd{margin:0}
ul,ol{margin:0 0 .75rem 1.5rem;padding:0}
li > ul,li > ol{margin-bottom:0;margin-left:.75rem}
li > :last-child{margin-bottom:0}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
b,strong{font-weight:700}
:lang(en) > q{quotes:'\2018' '\2019' '\201C' '\201D';}
:lang(en) > q::before{content:open-quote}
:lang(en) > q::after{content:close-quote}
:lang(en) > q q::before{content:open-quote}
:lang(en) > q q::after{content:close-quote}
small,.smallprint,.milli{color:#595959;font-size:.9285714285714286rem;}
sub,sup{font-size:.9285714285714286rem;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{font-style:italic;max-width:100%}
.img--right{float:right;margin-bottom:.75rem;margin-left:.75rem}
.img--left{float:left;margin-right:.75rem;margin-bottom:.75rem}
.img--center{display:block;margin:0 auto .75rem}
h1,.alpha,h2,.beta,h3,.gamma,h4,.delta,h5,.epsilon,h6,.zeta{font-family:Georgia,serif;margin:0}
h1,.alpha{font-size:2.5714285714285716rem;line-height:1.1666666666666667;}
h2,.beta{font-size:2.142857142857143rem;line-height:1.4;}
h3,.gamma{font-size:1.7142857142857142rem;line-height:1.75;}
h4,.delta{font-size:1.4285714285714286rem;line-height:1.05;}
h5,.epsilon{font-size:1.1428571428571428rem;line-height:1.3125;}
h6,.zeta{font-size:.9285714285714286rem;line-height:1.6153846153846154;}
a{border-bottom:1px solid #7b98ea;color:#2254dd;text-decoration:none;-webkit-transition:all .25s;transition:all .25s;}
a:hover{border-bottom-color:#6587e7;color:#1c43b0}
a:active{outline:0}
a:focus{outline:thin dotted}
@media print{@page{margin:.5cm}
*{background:transparent !important;box-shadow:none !important;color:#000 !important;text-shadow:none !important}
html{font:11pt Calibri,Arial,sans-serif}
a,a:visited{text-decoration:underline}
a[href]::after{content:' (' attr(href) ')'}
a[href^='#']::after{content:''}
abbr[title]::after{content:' (' attr(title) ')'}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
pre,blockquote{page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
}