/*------------------------------------*\
    SETTINGS
\*------------------------------------*/
@import '../_config'





/*------------------------------------*\
    REDEFINE VARIABLES
\*------------------------------------*/





/*------------------------------------*\
    OBJECTS
\*------------------------------------*/
@import '../_vanilla'





/*------------------------------------*\
    PAGE SPECIFIC STYLES
\*------------------------------------*/
