-ms-viewport{width:device-width}
-o-viewport{width:device-width}
*:not(hr){-moz-box-sizing:border-box;box-sizing:border-box}
html{background-color:#fff;color:#454545;font-family:Verdana,sans-serif;font-size:14px;font-size:.875rem;line-height:1.5;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0}
.rhythm,details,p,dl{margin:0 0 10.5px 0;margin:0 0 .75rem 0}
.rhythm-bottom{margin-bottom:10.5px;margin-bottom:.75rem}
.landmark{margin-bottom:21px;margin-bottom:1.5rem}
.lead{font-size:18px;font-size:1.2857142857142858rem;line-height:1.1666666666666667}
.cf::after{content:'';display:table;clear:both}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
[hidden]{display:none}
main,summary{display:block}
dd{margin:0}
ul,ol{margin:0 0 10.5px 21px;margin:0 0 .75rem 1.5rem;padding:0}
li > ul,li > ol{margin-bottom:0;margin-left:10.5px;margin-left:.75rem}
li > :last-child{margin-bottom:0}
abbr[title],dfn[title]{cursor:help}
b,strong{font-weight:700}
:lang(en) > q{quotes:'\2018' '\2019' '\201C' '\201D';}
:lang(en) > q::before{content:open-quote}
:lang(en) > q::after{content:close-quote}
:lang(en) > q q::before{content:open-quote}
:lang(en) > q q::after{content:close-quote}
small,.smallprint{color:#595959;font-size:12px;font-size:.8571428571428571rem;}
sub,sup{font-size:12px;font-size:.8571428571428571rem;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0;font-style:italic;max-width:100%}
.img--right{float:right;margin-bottom:.75rem;margin-left:.75rem}
.img--left{float:left;margin-right:.75rem;margin-bottom:.75rem}
.img--center{display:block;margin:0 auto .75rem}
h1,.alpha,h2,.beta,h3,.gamma,h4,.delta,h5,.epsilon,h6,.zeta{font-family:Georgia,serif;margin:0}
h1,.alpha{font-size:47px;font-size:3.357142857142857rem;line-height:1.3404255319148937;}
h2,.beta{font-size:41px;font-size:2.9285714285714284rem;line-height:1.024390243902439;}
h3,.gamma{font-size:32px;font-size:2.2857142857142856rem;line-height:1.3125;}
h4,.delta{font-size:27px;font-size:1.9285714285714286rem;line-height:1.5555555555555556;}
h5,.epsilon{font-size:21px;font-size:1.5rem;line-height:1;}
h6,.zeta{font-size:18px;font-size:1.2857142857142858rem;line-height:1.1666666666666667;}
a{border-bottom:1px solid #7b98ea;color:#2254dd;text-decoration:none;-webkit-transition:all .25s;transition:all .25s;}
a:hover{border-bottom-color:#6587e7;color:#1c43b0}
a:active{outline:0}
a:focus{outline:thin dotted}
@media print{@page{margin:.5cm}
*{background:transparent !important;box-shadow:none !important;color:#000 !important;text-shadow:none !important}
html{font:11pt Calibri,Arial,sans-serif}
a,a:visited{text-decoration:underline}
a[href]::after{content:' (' attr(href) ')'}
a[href^='#']::after{content:''}
abbr[title]::after{content:' (' attr(title) ')'}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
tr,img{page-break-inside:avoid}
}