extends layout


append head
  link(rel='stylesheet', href='../css/index.css')


block content
  header(role='banner')
    h1 Will Smith 
      span User Interface Designer

  include nav.jade

  footer
    a(href='mailto:inriverie@gmail.com') Contact Me
