extends ../../_views/layouts/default

block append vars
  - var title = 'Form Styles'
  - var description = 'Form styles.'

block append head
  link(rel='stylesheet', href='../_assets/css/styleguide/styleguide.css')

block header

block content
  main(role='main')

    p The <code>fieldset</code> element enables you to group related fields within a form, and each one should contain a corresponding <code>legend</code>. The <code>label</code> element ensures field descriptions are associated with their corresponding form widgets.

    form(action='#')
      fieldset
        legend Legend
        .form-field
          label(for='text') Text Input
          input#text(type='text', required)
        .form-field
          label(for='password') Password
          input#password(type='password', required)
        .form-field
          label(for='email') Email Address
          input#email(type='email', required)
        .form-field
          label(for='url') Web Address
          input#url(type='url', placeholder='http://www.example.com', required)
        .form-field
          label(for='select') Select
          select#select(required)
            option(value='', disabled, selected) Pick an option
            optgroup(label='Option Group')
              option(value='option1') Option One
              option(value='option2') Option Two
              option(value='option3') Option Three
      fieldset
        legend Checkbox
        ul.check-list
          li
            input#checkbox1(name='checkbox1', type='checkbox', checked)
            label(for='checkbox1') Choice A
          li
            input#checkbox2(name='checkbox2', type='checkbox')
            label(for='checkbox2') Choice B
          li
            input#checkbox3(name='checkbox3', type='checkbox')
            label(for='checkbox3') Choice C
      fieldset
        legend Radio
        ul.check-list
          li
            input#radio1(name='radio', type='radio', required)
            label(for='radio1') Option 1
          li
            input#radio2(name='radio', type='radio')
            label(for='radio2') Option 2
          li
            input#radio3(name='radio', type='radio')
            label(for='radio3') Option 3
      .form-field
        label(for='textarea') Textarea
        textarea#textarea(cols='32', rows='8', required)
      .form-field
        input#checkbox(type='checkbox', required)
        label(for='checkbox') Single checkbox
      .btn-group
        button.btn.btn--positive(type='submit') Post comment
        button.btn Preview

block nav
  nav(role='navigation')
    ul
      li: a(href='styleguide.html') Styleguide directory
      li: a(href='basic-styles.html') Basic styles
      li: a(href='ui-styles.html') <abbr title="User Interface">UI</abbr> pattern library
      li Form elements